@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: #ffffff;
}

.gbody {
    background: rgb(75,75,75);
    background: -moz-linear-gradient(left, rgba(75,75,75,1) 0%, rgb(101, 101, 101) 100%);
    background: -webkit-linear-gradient(left, rgba(75,75,75,1) 0%,rgba(101,101,101,1) 100%);
    background: linear-gradient(to right, rgba(75,75,75,1) 0%,rgba(101,101,101,1) 100%);
}

.wrapperex {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
}

.logo {
    width: 80px;
    margin: auto
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.wrapperex .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555
}

.wrapperex .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px
}

.wrapperex .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapperex .form-field .fas {
    color: #555
}

.wrapperex .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #323232;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px
}

.wrapperex .btn:hover {
    background-color: #181818
}

.wrapperex a {
    font-size: 0.8rem;
    color: #323232
}

.wrapperex a:hover {
    color: #181818
}

@media(max-width: 380px) {
    .wrapperex {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}

th{
    font-weight: normal;
}

th.middle{
    border: 1px solid black;
}

tr.top{
    border-bottom: 1px solid black;
}

.bold{
    font-weight: bold;
}

.brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

.customNav {
    background-color: #e6e6e6;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #323232 !important;
    float: right;
}

table.projects {
    border-spacing: 0px;
    table-layout: fixed;
    width: 99% !important; 
    margin-left: 0.5%;
}

table.projects tr th {
    border: 1px solid #656565;
    font-size: medium;
}

table.projects tr td {
    border: 1px solid #656565;
    
}

table {
    border-collapse: collapse;
}

th {
    border-bottom-style: solid;
}

table tbody tr {
    border-bottom: 1pt solid black;
}

table tbody {
    font-size: small;
}

button.scr {
    font-size: small;
}

.hlink {
    text-decoration: none;
    color: #212529;  
}