{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="{% static 'trackersite/style.css' %}">
        
    </head>
    <body class="gbody">
        <div class="wrapperex" style="min-width: 50%;">
            <div class="text-center mt-4 name">Enter Your New Password</div>
            <hr><br>
            <form class="p-3 mt-3" action="{% url 'reset_password' None None %}" method="post">
                {% csrf_token %}
                <div>
                    <input type="hidden" name="name" value="{{name}}">
                    <label class="text-center mt-4 name" style="padding: 0;">New Password:</label>
                    <input type="password" class="form-field d-flex align-items-center" name="password" style="width: 100%;" required>
                    <label class="text-center mt-4 name" style="padding: 0;">Confirm New Password:</label>
                    <input type="password" class="form-field d-flex align-items-center" name="confirm_password" style="width: 100%;" required>
                </div>
                <input type="submit" class="btn btn-primary" value="Change Password">
            </form>
            <br>
            <div class="text-center fs-6" style="font-size: small;"><a href="{% url 'login' %}">&larr; Back to Login</a> </div>
        </div>
    </body>
</html>