{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="{% static 'trackersite/style.css' %}">
        
    </head>
    <body class="gbody">
        <div class="wrapperex">
            <div class="logo"> <img src="{% static 'trackersite/logo.png' %}" alt=""> </div>
            <div class="text-center mt-4 name" style="display: flex; justify-content: center;">Demo User Login </div>
            {% if message %}
                {{message}}
            {% endif %}
            <form class="p-3 mt-3" action="{% url 'demo_login' %}" method="post">
                {% csrf_token %}
                <div class="text-dark fw-bold h5 mb-0 gray">
                    <select class="gray" name="role" style="width: 100%; margin-bottom: 1rem" required>
                        <option disabled>Log in as</option>
                        <option>Admin</option>
                        <option>Manager</option>
                        <option>Developer</option>
                    </select>
                    <button class="btn mt-3">Login as Demo User</button>
                </div>
            </form>            
            <div class="text-center mt-4" style="display: flex; justify-content: center; font-size: small;">Demo users roles have all the permissions of normal roles so you can explore freely, however no changes will be saved.</div>
            <div class="text-center fs-6"> <a href="{% url 'login' %}" class="hlink">&larr; Back to login</a>
        </div>
    </body>
</html>