{% extends 'trackersite/layout.html' %}

{% block body %}
<br><div class="card shadow border-start-primary py-2">
    <div style="justify-content:center; display: flex; padding: 0.5%;">My Projects</div>
    <div>
        <table class="table table-striped projects">
            <tbody>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Time Created</th>
                <th scope="col"></th>
                </tr>
                {% for project in projects %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{project.title}}</td>
                    <td>{{project.desc}}</td>
                    <td>{{project.status}}</td>
                    <td>{{project.time_created}}</td>
                    <!-- {% if user.role == 'Admin' %}
                    <td><button type="button" class="btn" onclick="role_select('{{ name.id }}');">Change Role</button></td>
                    <td><button type="button" class="btn" onclick="remove_user('{{ name.id }}');">Remove User</button></td>
                    {% endif %} -->
                    <td><a href="{% url 'manage_project' project.title %}" class="hlink">Details</a></td>
                </tr>
                {% endfor %}
                
    </tbody>
        </table>
    </div>
</div>

<!-- Admin Project View -->
{% if user.role == 'Admin' %}
<br><div class="card shadow border-start-primary py-2">
    <div style="justify-content:center; display: flex; padding: 0.5%;">All Projects</div>
    <div>
        <table class="table table-striped projects">
            <tbody>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Time Created</th>
                <th scope="col"></th>
                </tr>
                {% for project in allProjects %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{project.title}}</td>
                    <td>{{project.desc}}</td>
                    <td>{{project.status}}</td>
                    <td>{{project.time_created}}</td>
                    <!-- {% if user.role == 'Admin' %}
                    <td><button type="button" class="btn" onclick="role_select('{{ name.id }}');">Change Role</button></td>
                    <td><button type="button" class="btn" onclick="remove_user('{{ name.id }}');">Remove User</button></td>
                    {% endif %} -->
                    <td><a href="{% url 'manage_project' project.title %}" class="hlink">Details</a></td>
                </tr>
                {% endfor %}
                
    </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}