{% extends 'trackersite/layout.html' %}

{% block body_class %}gbody page-top{% endblock %}

{% block body %}
<br><div class="card shadow border-start-primary py-2">
    <div style="justify-content:center; display: flex; padding: 0.5%; font-size: large;">My Tickets</div>
    <div>
        <table class="table projects">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Time Created</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.priority}}</td>
                    <td>{{ticket.status}}</td>
                    <td>{{ticket.type}}</td>
                    <td>{{ticket.timestamp}}</td>
                    <!-- {% if user.role == 'Admin' %}
                    <td><button type="button" class="btn" onclick="role_select('{{ name.id }}');">Change Role</button></td>
                    <td><button type="button" class="btn" onclick="remove_user('{{ name.id }}');">Remove User</button></td>
                    {% endif %} -->
                    <td><a href="{% url 'load_ticket' ticket.id %}" class="hlink">Details</a></td>
                </tr>
                {% endfor %}
                
    </tbody>
        </table>
    </div>
</div>
<br><div class="card shadow border-start-primary py-2">
    <div style="justify-content:center; display: flex; padding: 0.5%; font-size: large;">All Tickets</div>
    <div>
        <table class="table projects">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Time Created</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in allTickets %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.priority}}</td>
                    <td>{{ticket.status}}</td>
                    <td>{{ticket.type}}</td>
                    <td>{{ticket.timestamp}}</td>
                    <!-- {% if user.role == 'Admin' %}
                    <td><button type="button" class="btn" onclick="role_select('{{ name.id }}');">Change Role</button></td>
                    <td><button type="button" class="btn" onclick="remove_user('{{ name.id }}');">Remove User</button></td>
                    {% endif %} -->
                    <td><a href="{% url 'load_ticket' ticket.id %}" class="hlink">Details</a></td>
                </tr>
                {% endfor %}
                
    </tbody>
        </table>
    </div>
</div>
{% endblock %}