{% extends 'trackersite/layout.html' %}

{% block body %}

<div class="wrapperex">
    <div class="text-center mt-4 name" style="display: flex; justify-content: center;"> New Ticket </div>
    <form action="{% url 'new_ticket' %}" method="post" class="p-3 mt-3">
        {% csrf_token %}
        <input type="hidden" value="{{id}}" name="project_id">
        <div style="display: flex; justify-content: center;"><input type="text" name="title" placeholder="Ticket Title" class="form-field d-flex align-items-center" maxlength="30" style="width: 100%;"></div>
        <div><textarea cols="30" rows="10" name="desc" maxlength="400" placeholder="Issue description" class="form-field d-flex align-items-center"></textarea></div> 
        <div class="form-inline">
        <select id="ticket_priority" name="priority">
            <option disabled>Ticket Priority</option>
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
            <option>Urgent</option>
        </select>
        <select id="ticket_type" name="type">
            <option disabled>Ticket Priority</option>
            <option>Bug/Errors</option>
            <option>Features</option>
            <option>General Comments</option>
        </select>
        </div>
        <button class="btn mt-3">Generate Ticket</button>
    </form>
</div>

{% endblock %}