{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="{% static 'trackersite/style.css' %}">
        
    </head>
    <body class="gbody">
        <div class="wrapperex" style="min-width: 50%;">
            <div class="text-center mt-4 name">Instructions have been sent to {{email}}. Please check your inbox for further instruction.</div>
            <hr><br>
            <form class="p-3 mt-3" action="{% url 'forgot' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{email}}">
                <input type="submit" class="btn btn-primary" value="Resend Email">
            </form>
            <br>
            <div class="text-center fs-6" style="font-size: small;"><a href="{% url 'login' %}">&larr; Back to Login</a> </div>
        </div>
    </body>
</html>