{% extends 'trackersite/layout.html' %}

{% block body_class %}gbody page-top{% endblock %}

{% block body %}

<div class="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="row">
                    <!-- Ticket Details -->
                    <div class="col-md-6 col-xl-3 mb-4" style="width: 40%; margin-left: 5%;">
                        <div class="card shadow border-start-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="d-flex">
                                            <div class="text-uppercase fw-bold text-xs mb-1" style="width: 50%;">
                                                <span style="color: #656565;">Title:</span>
                                            </div>
                                            <div class="text-uppercase fw-bold text-xs mb-1" style="width: 50%;">
                                                <span style="color: #656565;">Project:</span>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="text-dark fw-bold h5 mb-0" style="width: 50%;">
                                                <span style="color: #656565;">{{ ticket.title }}</span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0" style="width: 50%;">
                                                <span><a href="{% url 'manage_project' ticket.project.title %}" style="color: #656565;">{{ ticket.project.title }}</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="d-flex">
                                            <div class="text-uppercase fw-bold text-xs mb-1" style="width: 50%;">
                                                <span style="color: #656565;">Issue Description:</span>
                                            </div>
                                            <div class="text-uppercase fw-bold text-xs mb-1" style="width: 50%;">
                                                <span style="color: #656565;">Ticket Type:</span>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="text-dark fw-bold h5 mb-0" style="width: 50%;">
                                                <span style="color: #656565;">{{ ticket.desc }}</span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0" style="width: 50%;">
                                                <span style="color: #656565;">{{ ticket.type }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="d-flex">
                                            <div class="text-uppercase fw-bold text-xs mb-1" style="width: 50%;">
                                                <span style="color: #656565;">Submitted by:</span>
                                            </div>
                                            <div class="text-uppercase fw-bold text-xs mb-1" style="width: 50%;">
                                                <span style="color: #656565;">Assigned to:</span>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="text-dark fw-bold h5 mb-0" style="width: 50%;">
                                                <span style="color: #656565;">{{ ticket.submitter }}</span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0" style="width: 50%;">
                                                <span style="color: #656565;">{{ ticket.assigned_to }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="d-flex">
                                            <div class="text-uppercase fw-bold text-xs mb-1" style="width: 50%;">
                                                <span style="color: #656565;">Priority:</span>
                                            </div>
                                            <div class="text-uppercase fw-bold text-xs mb-1" style="width: 50%;">
                                                <span style="color: #656565;">Status:</span>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="text-dark fw-bold h5 mb-0" style="width: 50%;">
                                                <span style="color: #656565;">{{ ticket.priority }}</span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0" style="width: 50%;">
                                                <span style="color: #656565;">{{ ticket.status }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="d-flex">
                                            <div class="text-uppercase fw-bold text-xs mb-1" style="width: 50%;">
                                                <span style="color: #656565;">Time created:</span>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="text-dark fw-bold h5 mb-0" style="width: 50%;">
                                                <span style="color: #656565;">{{ ticket.timestamp }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if user.username == ticket.submitter or user.role == 'Admin' %}
                            <form action="{% url 'delete_ticket' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ ticket.id }}">
                                <input type="submit" class="btn btn-primary" onclick="return confirm_delete();" value="Delete Ticket" style="margin-left: 2px;">
                            </form>
                        {% endif %}
                        {% if user.role == 'Admin' %}
                        <div>
                            <form action="{% url 'update_ticket' %}" method="get">
                                <input type="hidden" name="id" value="{{ ticket.id }}">
                                <input type="submit" class="btn btn-primary" value="Update">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Ticket Comments -->
                    <div class="col-md-6 col-xl-3 mb-4" style="width: 40%; margin-left: 5%;">
                        <div class="card shadow border-start-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="d-flex">
                                            <div class="text-uppercase fw-bold text-xs mb-1">
                                                <span style="color: #656565;">Ticket Comments</span>
                                            </div>
                                        </div>
                                        <div class="d-flex" style="margin-left: 1.5%;">
                                            <div class="text-dark fw-bold h5 mb-0" style="width: 100%;">
                                                <form action="{% url 'create_comment' %}" method="post" class="input-group">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{ ticket.id }}">
                                                    <input class="form-control form-control-sm" type="text" name="comment" placeholder="Comment" style="height: auto;" maxlength="40">
                                                    <input type="submit" class="btn btn-primary" value="Comment">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table class="table projects">
                                    <tbody>
                                        <tr>
                                        <th scope="col">Commenter</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Time</th>
                                        </tr>
                                        {% for comment in comments %}
                                        <tr>
                                            <td><a class="hlink" href="{% url 'load_user' comment.commenter %}">{{comment.commenter}}</a></td>
                                            <td>{{comment.comment}}</td>
                                            <td>{{comment.timestamp}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Ticket History -->
                    <div class="col-md-6 col-xl-3 mb-4" style="width: 40%; margin-left: 5%;">
                        <div class="card shadow border-start-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="d-flex">
                                            <div class="text-uppercase fw-bold text-xs mb-1">
                                                <span style="color: #656565;">Ticket Changes</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline" style="justify-content: right;">
                                <input class="form-control" style="margin-right: 0%;" type="search" placeholder="Filter by Field" aria-label="Search" id="searchBar" onkeyup="search_fields('searchBar', 'field')">
                            </div>
                            <div>
                                <table class="table projects">
                                <tbody>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Field</th>
                                    <th scope="col">Old Value</th>
                                    <th scope="col">New Value</th>
                                    <th scope="col">Time Changed</th>
                                    </tr>
                                    {% for object in history %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td class="field">{{object.value_field}}</td>
                                        <td>{{object.value_old}}</td>
                                        <td>{{object.value_new}}</td>
                                        <td>{{object.timestamp}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}