{% extends 'trackersite/layout.html' %}

{% block body %}
<br><div class="card shadow border-start-primary py-2">
    <div style="justify-content:center; display: flex; padding: 0.5%; font-size: large;">All Users</div>
    <div class="form-inline" style="justify-content: right;">
            <input class="form-control" type="search" placeholder="Filter by Name" aria-label="Search" id="searchBar" onkeyup="search_names('searchBar','names')">
    </div>
    <div>
        <table class="table projects">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                {% if user.role == 'Admin' %}
                    <th></th>
                    <th></th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for name in users %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a class="names hlink" href="{% url 'load_user' name.username %}">{{name.username}}</a></td>
                    <td>{{name.email}}</td>
                    <td id="role_{{name.id}}">{{name.role}}</td>
                    {% if user.role == 'Admin' %}
                    {% if user.username != name.username %}
                    <td><button type="button" class="btn scr" onclick="role_select('{{ name.id }}');">Change Role</button></td>
                    {% else %}
                    <td><button type="button" class="btn scr" onclick="err('Cannot change own role');">Change Role</button></td>
                    {% endif %}
                    <td><button type="button" class="btn scr" onclick="delete_user('{{ name.id }}');">Delete User</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</div>
{% endblock %}